@font-face {
    font-family: "Urbanist";
    src: url("./assets/Urbanist-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@import "tailwindcss";

@theme {
    --font-urbanist: "Urbanist", sans-serif;
}

@layer base {
    body {
        font-family: var(--font-urbanist);
        background: linear-gradient(180deg, #141414 0%, #000000 100%);
        color: white;
        min-height: 100vh;
    }
}

@layer utilities {
    .animate-spin-slow {
        animation: spin 10s linear infinite;
    }
}